.root {
  flex: 1;
  overflow: hidden;
  padding: rem(4px);
}

.listWrapper {
  width: 100%;
}

.loading {
  flex: 1;
  height: 100%;
  padding: rem(24px);
}

.resultCount {
  padding: rem(6px) rem(8px) rem(2px);
  display: block;
}
