.shell {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.nav {
  width: min(40%, rem(300px));
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
}

.navInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  min-width: 0;
}
